<div class="bodyContainer container-fluid">
	<div class="row justify-content-center align-items-center">
		<div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="formContainer">
				<div class="preloaderContainer mt-5 mb-5" *ngIf="!user && !roles">
					<div id="preloaderDisco">
					</div>
				</div>
				<div *ngIf="user && roles">
					<div class="titleStyles">
						<span class="col col-sm-2 col-md-2 col-lg-1 col-xl-1"><a href="javascript:history.back()">Regresar</a></span>
						<h3 class="col col-sm-10 col-md-10 col-lg-11 col-xl-11">{{ page_title }}</h3>
					</div>
					<div class="col col-sm-12">
						<div class="mt-4 mb-3" style="margin: auto;" [ngClass]="{'successMessage':status=='success', 'errorMessage':status=='error'}" *ngIf="(status=='error' || status=='success') && responseMessage">
							<span>{{ responseMessage }}</span><br/>
							<span *ngIf="validationMessage">{{ validationMessage }}</span>
						</div>
					</div>
					<form class="mt-3" #userRegisterForm="ngForm" (ngSubmit)="onSubmit(userRegisterForm)">
						<div class="form-group">
							<div class="col col-sm-12 col-lg-6 d-inline-block">
								<label for="name" class="labelForm">Nombres*</label>
								<input type="text" name="name" id="name" class="form-control inputForm" [ngClass]="{'is-invalid': name.invalid && name.touched}" #name="ngModel" [(ngModel)]="user.name" required placeholder="Ingrese los nombres del usuario" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+">
							</div>
							<div class="col col-sm-12 col-lg-6 d-inline-block">
								<label for="surname" class="labelForm">Apellidos*</label>
								<input type="text" name="surname" id="surname" class="form-control inputForm" [ngClass]="{'is-invalid': surname.invalid && surname.touched}" #surname="ngModel" [(ngModel)]="user.surname" required placeholder="Ingrese los apellidos del usuario" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+">
							</div>
							<small class="invalid-feedback d-block col col-sm-12" *ngIf="name.invalid && name.touched">Debe ingresar un nombre válido. Solo se permiten letras</small>
							<small class="invalid-feedback d-block col col-sm-12" *ngIf="surname.invalid && surname.touched">Debe ingresar un apellido válido. Solo se permiten letras</small>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 col-lg-6 d-inline-block">
								<label for="alias" class="labelForm">Alias*</label>
								<input type="text" name="alias" id="alias" class="form-control inputForm" [ngClass]="{'is-invalid': alias.invalid && alias.touched}" #alias="ngModel" [(ngModel)]="user.user_alias" required placeholder="Ingrese un alias para el usuario">
							</div>
							<div class="col col-sm-12 col-lg-6 d-inline-block">
								<label for="role" class="labelForm">Role*</label>
								<select style="background-position-x: 96%" name="role" id="role" class="form-control inputForm" [ngClass]="{'is-invalid': role.invalid && role.touched}" #role="ngModel" [(ngModel)]="user.role" required>
									<option *ngFor="let role of roles" value="{{ role.value }}">{{ role.name }}</option>
								</select>
							</div>
							<small class="invalid-feedback d-block col col-sm-12" *ngIf="alias.invalid && alias.touched">Debe ingresar un alias de usuario valido</small>
							<small class="invalid-feedback d-block col col-sm-12" *ngIf="role.invalid && role.touched">Debe seleccionar un role de la lista</small>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 col-lg-6 d-inline-block">
								<label for="password" class="labelForm">Contraseña*</label>
								<input type="password" name="password" id="password" class="form-control inputForm" [ngClass]="{'is-invalid': password.invalid && password.touched}" #password="ngModel" [(ngModel)]="user.password" required placeholder="Ingrese una contraseña para el usuario">
							</div>
							<div class="col col-sm-12 col-lg-6 d-inline-block">
								<label for="password2" class="labelForm">Confirmar Contraseña*</label>
								<input type="password" name="password2" id="password2" class="form-control inputForm" [ngClass]="{'is-invalid': (password2.invalid && password2.touched) || (password2.touched && passwordConfirm != user.password)}" #password2="ngModel" [(ngModel)]="passwordConfirm" required placeholder="Repita su contraseña" [disabled]="!user.password || password.invalid">
							</div>
							<small class="invalid-feedback d-block col col-sm-12" *ngIf="password.invalid && password.touched">Debe ingresar una contraseña para el usuario</small>
							<small class="invalid-feedback d-block col col-sm-12" *ngIf="(password2.invalid && password2.touched) || (password2.touched && passwordConfirm != user.password)">Las contraseñas no coinciden</small>
						</div>
						
						<div class="buttonSubmit mt-3">
							<input type="submit" value="Actualizar Usuario" class="btn btn-success btnPrefer col-sm-12 col-md-8 col-lg-6" [disabled]="userRegisterForm.invalid || user.password != passwordConfirm">
						</div>
						<div class="preloaderContainer" *ngIf="preloaderStatus">
							<div id="preloaderOndas" style="left: -2rem">
								<span></span><span></span><span></span><span></span><span></span>
							</div>
						</div>
						<div class="col col-sm-12 infoButtonForm mt-3 mb-4">
							<small>Los campos marcados con * son requeridos en el formulario</small>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>