<div class="headerContainer hidePrint">
	<div class="wrapHeader">
		<div class="correspondenceContainer col col-sm-12 col-md-12 col-lg-6 col-xl-6">			
			<img src="../assets/img/correspondenceLogo.png" alt="Correspondencia Subred Sur" title="Correspondencia Subred Sur">
			<span>Correspondencia Subred Sur</span>
		</div>
		<div class="institutionalLogos col col-sm-12 col-md-12 col-lg-6 col-xl-6">
			<!-- <img id="alcaldiaLogo" src="../assets/img/alcaldiaLogo.png" alt=""> -->
			<a href="http://www.subredsur.gov.co/"><img id="hospitalLogo" src="../assets/img/hospitalLogo.png" alt="Subred Integrada de Servicios de Salud Sur E.S.E." title="Subred Integrada de Servicios de Salud Sur E.S.E."></a>
		</div>
	</div>
</div>
<div class="principalContainer">
	<div class="sideSection col col-sm-12 col-md-2 col-lg-2 col-xl-2 hidePrint">
		<div class="sectionContent" *ngIf="identity">
			<h2>Radicación</h2>
			<ul>
				<li><a [routerLink]="['/radicado/salida']" [routerLinkActive]="['active']">Salida</a></li>
				<li><a [routerLink]="['/radicado/entrada']" [routerLinkActive]="['active']">Entrada</a></li>
				<li><a [routerLink]="['memorando/nuevo-registro']" [routerLinkActive]="['active']">Interna</a></li>
			</ul>
		</div>
		<div class="sectionContent" *ngIf='identity'>
			<h2>Busqueda</h2>
			<ul>
				<li><a [routerLink]="['/radicado/buscar-radicado']" [routerLinkActive]="['active']">Buscar Radicados</a></li>
			</ul>
		</div>
		<div class="sectionContent">
			<h2>Usuario</h2>
			<ul *ngIf="!identity">
				<li><a [routerLink]="['/user/login']" [routerLinkActive]="['active']" *ngIf="!identity">Iniciar Sesión</a></li>
			</ul>
			<ul *ngIf="identity && identity.role != 'admin'">
				<li class="sideText">{{ identity.name + ' ' + identity.surname}}</li>
				<li><a [routerLink]="['/editar/contraseña/usuario/', identity.sub]" [routerLinkActive]="['active']" *ngIf="identity">Actualizar Contraseña</a></li>
				<li><a [routerLink]="['/user/logout/1']" [routerLinkActive]="['active']" *ngIf="identity">Cerrar Sesión</a></li>
			</ul>
			<ul *ngIf="identity && identity.role == 'admin'">
				<li class="sideText">{{ identity.name + ' ' + identity.surname}}</li>
				<li><a [routerLink]="['/listar/usuarios']" [routerLinkActive]="['active']" *ngIf="identity">Listar Usuarios</a></li>
				<li><a [routerLink]="['/registrar/usuario']" [routerLinkActive]="['active']" *ngIf="identity">Agregar Usuario</a></li>
				<li><a [routerLink]="['/editar/contraseña/usuario/', identity.sub]" [routerLinkActive]="['active']" *ngIf="identity">Actualizar Contraseña</a></li>
				<li><a [routerLink]="['/user/logout/1']" [routerLinkActive]="['active']" *ngIf="identity">Cerrar Sesión</a></li>
			</ul>
		</div>
		<div class="sectionContent" *ngIf="identity && identity.role == 'admin'">
			<h2>Clasificación de Usuarios</h2>
			<ul>
				<li><a [routerLink]="['/listar/clasificacion/usuarios']" [routerLinkActive]="['active']">Listar Clasificación</a></li>
				<li><a [routerLink]="['/registrar/clasificacion/usuarios']" [routerLinkActive]="['active']">Agregar Clasificación</a></li>
			</ul>
		</div>
		<div class="sectionContent" *ngIf="identity && identity.role == 'admin'">
			<h2>Dependencias</h2>
			<ul>
				<li><a [routerLink]="['/listar/dependencias']" [routerLinkActive]="['active']">Listar Dependencias</a></li>
				<li><a [routerLink]="['/registrar/dependencias']" [routerLinkActive]="['active']">Agregar Dependencias</a></li>
			</ul>
		</div>
		<div class="sectionContent" *ngIf="identity && identity.role == 'admin'">
			<h2>Tipo de Adjuntos</h2>
			<ul>
				<li><a [routerLink]="['/listar/adjuntos']" [routerLinkActive]="['active']">Listar Tipo de Adjuntos</a></li>
				<li><a [routerLink]="['/registrar/adjuntos']" [routerLinkActive]="['active']">Agregar Tipo de Adjunto</a></li>
			</ul>
		</div>
	</div>
	<div class="generalSection col col-sm-12 col-md-10 col-lg-10 col-xl-10">
		<router-outlet></router-outlet>
	</div>
	<div class="footer" style="bottom: 0">
		<span class="d-block">Copyright© 2020</span>
		<span class="d-block">Subred Integrada de Servicios de Salud Sur E.S.E.</span>
		<span class="d-block">Todos los derechos reservados</span>
		<span class="d-block signature">SRG</span>
	</div>
</div>