<div class="bodyContainer container-fluid">
	<div class="row justify-content-center align-items-center">
		<div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="formContainer">
				<div class="errorMessage mt-3 mb-3" *ngIf="status=='error' && errorMessage">
					<span>{{ errorMessage }}</span>
				</div>
				<div class="preloaderContainer mt-5 mb-5" *ngIf="!userClasification && !countries && !status && !errorMessage">
					<div id="preloaderDisco">
					</div>
				</div>
				<div *ngIf="userClasification && countries">
					<div class="titleStyles">
						<span class="col col-sm-2 col-md-2 col-lg-1 col-xl-1"><a href="#">Regresar</a></span>
						<h3 class="col col-sm-10 col-md-10 col-lg-11 col-xl-11">{{ page_title }}</h3>
					</div>
				<!-- ------------------------------------------------------------------------------------
				Busqueda de Datos
				------------------------------------------------------------------------------------ -->
					<form class="filedForm filedFormNew" #searchForm="ngForm" (ngSubmit)="onSubmitSearch(searchForm)">
						
						<div class="form-group">
							<div class="col-lg-12">
								<label for="searchBy" class="labelForm col-lg-2 d-inline-block pl-0">Tipo de Busqueda:*</label>
								<select name="searchBy" class="form-control inputForm col-lg-10 d-inline-block" #searchBy="ngModel" [(ngModel)]="typeSearch" required>
									<option value="1">ID</option>
									<option value="2">NOMBRE O APELLIDO</option>
								</select>
								<small class="invalid-feedback d-block p-0" *ngIf="searchBy.invalid && searchBy.touched">Seleccione un Tipo de Busqueda de la lista desplegable</small>
							</div>
						</div>
					
						<div class="form-group" *ngIf="searchBy && searchBy.valid && typeSearch==2">
							<div class="col-lg-12">
								<label for="userType" class="labelForm col-lg-2 d-inline-block pl-0">Tipo de Usuario:*</label>
								<select name="userType" class="form-control inputForm col-lg-10 d-inline-block" #userType="ngModel" [(ngModel)]="clasificationSearch" required>
									<option *ngFor="let uclas of userClasification" value="{{uclas.id}}">{{ uclas.name }}</option>
								</select>
								<small class="invalid-feedback d-block p-0" *ngIf="userType.invalid && userType.touched">Seleccione un Tipo de Usuario de la lista desplegable</small>
							</div>
						</div>
					
						<div class="form-group" *ngIf="searchBy && searchBy.valid && typeSearch && typeSearch == 1">
							<div class="col-lg-5 m-auto">
								<label for="parameter" class="labelForm col-lg-4 d-inline-block pl-0 text-right">Numero de Documento*</label>
								<input type="text" name="parameter" class="form-control inputForm col-lg-8 d-inline-block" [ngClass]="{'is-invalid':parameter.invalid && parameter.touched}" #parameter="ngModel" [(ngModel)]="parameterValue" required pattern="[0-9]+" minlength="6" maxlength="10">
								<small class="invalid-feedback d-block p-0 text-right" *ngIf="parameter.invalid && parameter.touched">Debe ingresar un Numero de Documento válido</small>
							</div>
						</div>
					
						<div class="form-group" *ngIf="searchBy && searchBy.valid && typeSearch && typeSearch == 2">
							<div class="col-lg-5 m-auto">
								<label for="parameter" class="labelForm col-lg-4 d-inline-block pl-0 text-right">Nombre o Apellido*</label>
								<input type="text" name="parameter" class="form-control inputForm col-lg-8 d-inline-block" [ngClass]="{'is-invalid':parameter.invalid && parameter.touched}" #parameter="ngModel" [(ngModel)]="parameterValue" required pattern="[a-zA-Z ]+">
								<small class="invalid-feedback d-block p-0 text-right" *ngIf="parameter.invalid && parameter.touched">Debe ingresar un Nombre válido</small>
							</div>
						</div>
						
						<div class="buttonSubmit mt-4 border-bottom-blue" style="text-align: center;">
							<input type="submit" value="Buscar" class="btn btn-success searchButton" [disabled]="searchForm.invalid">
						</div>
					</form>
					<!-- ------------------------------------------------------------------------------------
					Fin de la Busqueda de Datos
					------------------------------------------------------------------------------------ -->
					<div class="col col-sm-12">
						<div class="errorMessage" *ngIf="searchStatus=='error' && searchErrorMessage">
							<span>{{ searchErrorMessage }}</span>
						</div>
					</div>
					<div class="preloaderContainer mt-1" *ngIf="!searchStatus && !appUsers && preLoader==1">
						<div id="preloaderDisco">
						</div>
					</div>
					<!-- ------------------------------------------------------------------------------------
					Mostrar Resultados de la Busqueda
					------------------------------------------------------------------------------------ -->
					<div class="titleStyles" *ngIf="appUsers">
						<h3 class="col col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-right: 15px;">{{ page_title2 }}</h3>
					</div>
					<div class="border-bottom-blue tableStyles" *ngIf="appUsers">
						<table class="table table-bordered col col-sm-11 col-md-10 col-lg-12 col-xl-12">
							<thead class="thead_styles">
								<tr>
									<th>Documento</th>
									<th>Nombre</th>
									<th>Primer Apellido</th>
									<th>Segundo Apellido</th>
									<th>Dirección</th>
									<th>Ciudad</th>
									<th>Teléfono</th>
									<th>Email</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody class="tbody_styles" *ngIf="appUsers">
								<tr *ngFor="let user of appUsers | paginate: {itemsPerPage: itemsPerPage, currentPage: actualPage}">
									<td>{{ user.id }}</td>
									<td>{{ user.name }}</td>
									<td>{{ user.surname }}</td>
									<td>{{ user.second_surname }}</td>
									<td>{{ user.address }}</td>
									<td><span *ngIf="user.municipality">{{ user.municipality.name }}</span></td>
									<td>{{ user.phone }}</td>
									<td>{{ user.email }}</td>
									<td>
										<button class="btn btn-info d-inline-block mr-1" type="button" (click)="setLocalStorage(user)">Usar</button>
										<button class="btn btn-secondary d-inline-block" type="button" (click)="putDataUpdate(user)">Modificar</button>
										<button class="btn btn-danger d-inline-block ml-1" type="button" (click)="deleteAppUser(user.id)" *ngIf="identity && identity.role=='admin'">Eliminar</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="paginationControls mt-3" *ngIf="appUsers && appUsers.length > 10">
							<pagination-controls (pageChange)="pageChange($event)"
										 previousLabel="Anterior"
										 nextLabel="Siguiente"
										 maxSize="4">
							</pagination-controls>
						</div>
						<div class="preloaderContainer" *ngIf="preloaderStatus">
							<div id="preloaderOndas" style="left: -2rem">
								<span></span><span></span><span></span><span></span><span></span>
							</div>
						</div>	
					</div>
					<!-- ------------------------------------------------------------------------------------
					Fin Mostrar Resultados de la Busqueda
					------------------------------------------------------------------------------------ -->
					<!-- ------------------------------------------------------------------------------------
					Agregar un nuevo Usuario
					------------------------------------------------------------------------------------ -->
					<div class="titleStyles">
						<h3 class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4" style="padding-right: 15px;">{{ page_title3 }}</h3>
					</div>

					<form class="filedForm filedFormNew" #addForm="ngForm" (ngSubmit)="onSubmitAddUser(addForm)">
						
						<div class="form-group">
							<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-inline-block">
								<label for="userId" class="labelForm pl-0">Documento:*</label>
								<input type="text" name="userId" class="form-control inputForm" [ngClass]="{'is-invalid':userId.invalid && userId.touched}" #userId="ngModel" [(ngModel)]="newAppUsers.id" required pattern="[0-9]+" minlength="6" maxlength="10">
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-inline-block">
								<label for="name" class="labelForm pl-0">Nombre:*</label>
								<input type="text" name="name" class="form-control inputForm" [ngClass]="{'is-invalid':name.invalid && name.touched}" #name="ngModel" [(ngModel)]="newAppUsers.name" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+">
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-inline-block">
								<label for="surname" class="labelForm pl-0">Primer Apellido:*</label>
								<input type="text" name="surname" class="form-control inputForm" [ngClass]="{'is-invalid':surname.invalid && surname.touched}" #surname="ngModel" [(ngModel)]="newAppUsers.surname" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+">
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-inline-block">
								<label for="secondSurname" class="labelForm pl-0">Segundo Apellido:</label>
								<input type="text" name="secondSurname" class="form-control inputForm" [ngClass]="{'is-invalid':secondSurname.invalid && secondSurname.touched}" #secondSurname="ngModel" [(ngModel)]="newAppUsers.second_surname" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+">
							</div>
							<small class="invalid-feedback d-block" *ngIf="userId.invalid && userId.touched">*Debe ingresar un documento válido</small>
							<small class="invalid-feedback d-block" *ngIf="name.invalid && name.touched">*Debe ingresar el nombre del usuario</small>
							<small class="invalid-feedback d-block" *ngIf="surname.invalid && surname.touched">*Debe ingresar el primer apellido del usuario</small>
							<small class="invalid-feedback d-block" *ngIf="secondSurname.invalid && secondSurname.touched">*Debe ingresar el segundo apellido del usuario</small>
						</div>
						
						<div class="form-group">
							<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-inline-block">
								<label for="phone" class="labelForm pl-0">Teléfono:*</label>
								<input type="text" name="phone" class="form-control inputForm" [ngClass]="{'is-invalid':phone.invalid && phone.touched}" #phone="ngModel" [(ngModel)]="newAppUsers.phone" required pattern="[0-9]+" minlength="7">
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-inline-block">
								<label for="address" class="labelForm pl-0">Dirección:</label>
								<input type="text" name="address" class="form-control inputForm" [ngClass]="{'is-invalid':address.invalid && address.touched}" #address="ngModel" [(ngModel)]="newAppUsers.address">
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-inline-block">
								<label for="email" class="labelForm pl-0">Email:</label>
								<input type="email" name="email" class="form-control inputForm" [ngClass]="{'is-invalid':email.invalid && email.touched}" #email="ngModel" [(ngModel)]="newAppUsers.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-inline-block">
								<label for="userType2" class="labelForm pl-0">Tipo de Usuario:*</label>
								<select name="userType2" class="form-control inputForm" [ngClass]="{'is-invalid':userType2.invalid && userType2.touched}" #userType2="ngModel" [(ngModel)]="newAppUsers.user_clasification_id" required>
									<option *ngFor="let uclas of userClasification" value="{{uclas.id}}">{{ uclas.name }}</option>
								</select>
							</div>
							<small class="invalid-feedback d-block" *ngIf="phone.invalid && phone.touched">*Debe ingresar un número de teléfono válido</small>
							<small class="invalid-feedback d-block" *ngIf="address.invalid && address.touched">*Debe ingresar una dirección válida</small>
							<small class="invalid-feedback d-block" *ngIf="email.invalid && email.touched">*Debe ingresar un email válido</small>
							<small class="invalid-feedback d-block" *ngIf="userType2.invalid && userType2.touched">*Debe seleccionar un tipo de usuario de la lista desplegable</small>
						</div>

						<div class="form-group" *ngIf="newAppUsers.user_clasification_id && newAppUsers.user_clasification_id != '1'">
							<div class="col-sm-12">
								<label for="company" class="labelForm">Empresa*</label>
								<input *ngIf="newAppUsers.user_clasification_id != '4'" type="text" name="company" class="form-control inputForm" [ngClass]="{'is-invalid': company.touched && company.invalid}" #company="ngModel" [(ngModel)]="newAppUsers.company" required>
								<input *ngIf="newAppUsers.user_clasification_id == '4'" type="text" name="company" class="form-control inputForm" #company="ngModel" [(ngModel)]="newAppUsers.company" placeholder="SUBRED INTEGRADA DE SERVICIOS DE SALUD SUR E.S.E." required disabled="uhdsa">
							</div>
						</div>
					
						
						<div class="form-group text-center">
							<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 d-inline-block text-left">
								<label for="country" class="labelForm pl-0">Pais:*</label>
								<select name="country" class="form-control inputForm" [ngClass]="{'is-invalid':country.invalid && country.touched}" #country="ngModel" [(ngModel)]="newAppUsers.country_id" required (change)="departmentFind()">
									<option *ngFor="let country of countries" value="{{country.id}}">{{ country.name }}</option>
								</select>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 d-inline-block text-left" *ngIf="departments">
								<label for="department" class="labelForm pl-0">Departamento:*</label>
								<select name="department" class="form-control inputForm" [ngClass]="{'is-invalid':department.invalid && department.touched}" #department="ngModel" [(ngModel)]="newAppUsers.department_id" required (change)="municipalityFind()">
									<option *ngFor="let department of departments" value="{{department.id}}">{{department.name}}</option>
								</select>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 d-inline-block text-left" *ngIf="municipalities">
								<label for="municipality" class="labelForm pl-0">Municipio-Ciudad:*</label>
								<select name="municipality" class="form-control inputForm" [ngClass]="{'is-invalid':municipality.invalid && municipality.touched}" #municipality="ngModel" [(ngModel)]="newAppUsers.municipality_id" required>
									<option *ngFor="let municipality of municipalities" value="{{municipality.id}}">{{municipality.name}}</option>
								</select>
							</div>
						</div>
						
						<div class="buttonsContainer mt-4 mb-3">
							<div class=" buttonSubmit col-sm-10 col-md-6 col-lg-4 col-xl-4" style="text-align: center;">
								<input type="submit" value="Agregar Usuario" class="btn btn-success searchButton" [disabled]="addForm.invalid" style="width: 100%">
							</div>
							<div class=" buttonSubmit col-sm-10 col-md-6 col-lg-4 col-xl-4" style="text-align: center;">
								<input type="text" value="Modificar Usuario" class="btn btn-success searchButton" [disabled]="addForm.invalid" (click)="updateAddUser()" style="width: 100%">
							</div>
						</div>
						<div [ngClass]="{'successMessage':addStatus=='success', 'errorMessage':addStatus=='error'}" *ngIf="(addStatus=='error' || addStatus=='success') && addMessage">
							<span>{{ addMessage }}</span>
						</div>
						<div class="preloaderContainer" *ngIf="preLoader2==1">
							<div id="preloaderOndas" style="left: -2rem">
								<span></span><span></span><span></span><span></span><span></span>
							</div>
						</div>						
					</form>
					<!-- ------------------------------------------------------------------------------------
					Fin Agregar un nuevo Usuario
					------------------------------------------------------------------------------------ -->
				</div>
			</div>
		</div>
	</div>
</div>